<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% extends  "layout.html" %}

    {% block content %}




<div>
      <div class="ContenedorCentro">

        <h1 class="TituloBienvenida">Bienvenido</h1>

        <a href="/Ingresarventa1" class=""><button type="button" class="BotonRedireccio" name="button">Ingresar Venta</button></a>
        <br>
        <a href="/Ingresarcompra" class=""><button type="button" class="BotonRedireccio" name="button">Ingresar Compra</button></a>
        <br>
        <a href="/Ingresarproducto" class=""><button type="button" class="BotonRedireccio" name="button">Ingresar Producto</button></a>
        <br>
        <a href="/Mostrardatos" class=""><button type="button" class="BotonRedireccio" name="button">Ver datos historicos</button></a>
      </div>
<div>
  {% endblock %}
</html>
